{% macro Infobox(Title,starslist, wri_list,pro_list,lang_list,comp_list,cinemat_list,fe_list,crty_list,d_list, Director,writers,producer,stars,composer,cinematography,film_editor,Genre,Release_Year,Duration,budget,countries,languages,IMDbID,Gross,based_on,distributed_by,poster,wikipedia_url) %}
	{{'{{Infobox film'}}
	|name   = {{Title }}
	|director      = {{Director }}
	{%- if writers != 'NaN' %}
	|writer       ={{"{{"}}Plainlist |{{wri_list |replace(",","\n*") }} {{"}}"}}
	{%- endif %}
	{%- if producer != 'NaN' %}
	|producer          ={{"{{"}}Plainlist |{{pro_list |replace(",","\n*") }} {{"}}"}}
	{%- endif %}
	{%- if  stars !='NaN' %}
	|starring         ={{"{{"}}Plainlist |{{starslist |replace(",","\n*") }} {{"}}"}}
	{%- endif %}
	{%- if composer != 'NaN' %}
	|music ={{"{{"}}Plainlist |{{comp_list |replace(",","\n*") }} {{"}}"}}
	{%- endif %}
	{%- if cinematography != 'NaN' %}
	|cinematography        ={{"{{"}}Plainlist |{{cinemat_list |replace(",","\n*") }} {{"}}"}}
	{%- endif %}
	{%- if film_editor != 'NaN' %}
	|editing   ={{"{{"}}Plainlist |{{fe_list |replace(",","\n*") }} {{"}}"}}
	{%- endif %}
	{%- if Release_Year != 'NaN' %}
	|released         = {{Release_Year }}
	{%- endif %}
	{%- if Duration != 'NaN' %}
	|runtime            = {{Duration}}
	{%- endif %}
	{%- if budget != 'NaN' %}
	|budget            = {{budget}}
	{%- endif %}
	{%- if countries != 'NaN' %}
	|country             ={{"{{"}}Plainlist |{{crty_list |replace(",","\n*") }} {{"}}"}}
	{%- endif %}
	{%- if languages != 'NaN' %}
	|language            ={{"{{"}}Plainlist |{{lang_list |replace(",","\n*") }} {{"}}"}}
	{%- endif %}
	{%- if Gross != 'NaN' %}
	|gross     = {{Gross }}
	{%- endif %}
	{%- if based_on != 'NaN' -%}
	|based_on = {{based_on}}
	{%- endif -%}
	{%- if distributed_by != 'NaN' -%}
	|distributor = {{"{{"}}Plainlist |{{d_list |replace(",","\n*") }} {{"}}"}}
	{%- endif -%}
	{%- if poster != 'NaN' -%}
	|image = {{poster}}<ref name="wikipedia">[{{wikipedia_url}} {{Title}} వికీపీడియా]</ref>
	{%- endif -%}
	{{'}}\n'}}
{% endmacro -%}




{%- macro introp1(Title,eTitle, Release_Year, Genre, Director,writers,writers_list,stars,composer,synopsis,based_on,main_subject) -%}

	'''{{Title}}'''{{" "}}({{eTitle}}) చిత్రం {{Release_Year}} లో విడుదల అయినది.{{" "}}
		{%- if Director != "NaN" -%}
			{%- set line =[
				"ఈ చిత్రానికి " + Director + " దర్శకత్వం నిర్వహించారు. ",
				Director + " ఈ సినిమాకి దర్శకత్వం వహించారు. "
			]|random
				-%}
		{{- line -}}
		{%- endif %}

		{%- if writers != "NaN" -%}
			{%- if writers_list | length >1 -%}
				{%- set line =[
					writers + " ఈ చలన చిత్రానికి కథా రచయితలు. ",
					"ఈ సినిమాకి "+writers+" కథా రచన చేసారు. "
				]|random
			-%}	
			{%- else -%}
				{%- set line =[
					writers + " ఈ చిత్రానికి కథా రచయిత. ",
					"ఈ చిత్రానికి " + writers + " కథా రచన చేసారు. "
				]|random
			-%}
			{%- endif %}
		{{- line -}}
		{%- endif %}
	{%- if based_on != 'NaN' -%}
	ఈ చిత్రం {{based_on}} ఆధారంగా చిత్రీకరించబడింది.{{" "}}  
	{%- endif -%}
	{%- if Genre != 'NaN' -%}
	ఇది ఒక {{Genre}} చిత్రం.{{" "}} 
	{%- endif %}
	{%- if synopsis != 'NaN' -%}
	ఈ చిత్ర కథాంశం,{{" "}}{{synopsis}} {{" "}}
	{%- endif -%}
	{%- if main_subject != "NaN" -%}
	{{Title}} సినిమా కథలో చూపిన ముఖ్య విషయాలు {{main_subject}}.{{" "}}<ref name="wikidata">[{{wikidata_url}} {{title}} వికీడేటా]</ref>
	{%- endif -%}
	{%- if stars != 'NaN' -%}
	{%- set line =[
		"ఈ సినిమాలో నటించిన ప్రముఖ నటులు "+stars+". ",
		stars +" ఈ చిత్రంలో ప్రముఖ నటులు. "]|random
		-%}
		{{-line-}}
	{%- endif %}
	{%- if composer != 'NaN' -%}
	{%- if ',' in composer -%}
	{%- set line =[
	"సంగీత దర్శకత్వం "+composer+" అందించారు. ",
	composer+" ఈ చలన చిత్రానికి సంగీతం అందించారు. "]|random
	-%}
	{{line-}}
	{%- else -%}		
		{%- set line =[
		"సంగీత దర్శకత్వం "+composer+" అందించారు. ",
		composer+" ఈ చలన చిత్రానికి సంగీతం అందించారు. "]|random
		-%}
		{{line-}}
	{%- endif -%}
	{%- endif -%}
	{{'\n'}}{{'\n'}}
{%- endmacro -%}



{%- macro introp2(producer,production_company,budget, eRated,Release_Year, languages, countries,Rated,distributed_by,wikidata_url,Title) %}
	{%- if producer != 'NaN' -%}
		ఈ చిత్ర సినిమా {%- if ',' in producer %}  నిర్మాతలు {%else%} నిర్మాత {% endif %} {{producer}}.{{" "}}
	{%- endif %}
	{%- if production_company!= 'NaN' -%}
		{{Title}} చిత్రాన్ని నిర్మించిన నిర్మాణ {%- if ',' in production_company %} సంస్థలు {%else%} సంస్థ {% endif %} {{production_company}}.{{" "}}
	{%-endif-%}
	{%- if budget != 'NaN' -%}
	{%- set line =[
		"ఈ చిత్ర నిర్మాణానికి "+budget+ " ఖర్చు పెట్టారు. ",
		"ఈ చిత్ర బడ్జెట్ "+budget+". ",
		"ఈ సినిమా బడ్జెట్ "+budget+". "
		]|random
		-%}
		{{line}} 
	{%- endif -%}
	{%- if Release_Year != 'NaN' and languages!='NaN' and countries!='NaN' -%}
	{{Release_Year}} లో విడుదల అయిన ఈ చలన చిత్రం, {{languages}} {%- if ',' in languages -%}{{" "}}భాషలలో{%- else -%} {{" "}}భాషలో{%- endif -%},{{" "}}{{countries}} {%- if ',' in countries -%}{{" "}} లో {{" "}}{%- else -%}{{" "}} లో{{" "}} {%- endif -%} విడుదల చేయబడింది.{{" "}}
	{%- elif Release_Year == "NaN" and languages!='NaN' and countries!='NaN' -%}
	ఈ సినిమా {{languages}} {%- if ',' in languages -%} {{" "}}భాషలలో{%- else -%}{{" "}} భాషలో{%- endif -%}{{" "}},{{" "}}{{countries}} {%- if ',' in countries -%}{{" "}} లో {{" "}}{%- else -%}{{" "}} లో {{" "}}{%- endif -%} విడుదల అయింది.{{" "}} 
	{%- elif Release_Year != "NaN" and languages!='NaN' and countries=='NaN' -%}
	ఈ చిత్రం {{Release_Year}} లో {{languages}} {%- if ',' in languages -%} {{" "}} భాషలలో{{" "}}{%- else -%}{{" "}} భాషలో{{" "}}{%- endif -%} విడుదల అయింది.{{" "}}
	{%- elif Release_Year != "NaN" and languages=='NaN' and countries!='NaN' -%}
	{{Release_Year}} లో {{countries}}{%- if ',' in countries -%} {{" "}}దేశాల్లో {{" "}}{%- else -%}{{" "}} లో {{" "}}{%- endif -%} ఈ చిత్రం విడుదల అయింది.{{" "}}
	{%- endif -%}
	{%- if Rated != 'NaN' and Rated != 'Unrated' and Rated != 'Not Rated' and Rated != 'Approved' and Rated != 'Passed' -%}
	ఈ సినిమాకి {{eRated}} సెన్సార్ గుర్తింపు లభించింది.{{" "}}
	{%- elif Rated == 'Unrated' or Rated == 'Not Rated' -%}
	ఈ చిత్రానికి సెన్సార్ గుర్తింపు(Rated) సమాచారం ఇవ్వలేదు.{{" "}} 
	{%- elif Rated == 'Approved' or Rated == 'Passed' -%}
	ఈ చిత్రాన్ని హేస్ కోడ్ ద్వారా అంగీకరించారు.{{" "}}
	{%- endif -%}
	{%- if distributed_by != 'NaN' -%}
	{%- set line = [
		"ఈ సినిమా " + distributed_by + " ద్వారా పంపిణీ చేయబడింది. ",
		"ఈ చిత్ర పంపిణీదారులు "+distributed_by+". "
	]|random
	-%}
	{{line}}<ref name="wikidata">[{{wikidata_url}} {{title}} వికీడేటా]</ref>
	{%- endif -%}	
{%- endmacro -%}

{%- macro plot(Title,storyline,narrative_location)-%}
{{ '\n==కధ==\n' }}
{%- if narrative_location != "NaN" -%}
{{Title}} సినిమా కథ ప్రకారం {{narrative_location}} లో జరిగినది.{{" "}}
{%- endif -%}
{%- if storyline != "NaN" -%}
{{storyline}}{{" "}}
{%- endif -%}
{%-endmacro-%}

{%- macro awards(Winner,Nominee,Title,eWinner,eNominee) -%}
    {{ '\n==అవార్డులు==\n' }}
    {%- if Winner != 'NaN' and Nominee != 'NaN'-%}
    {{Title}} వివిధ క్యాటగిరీస్ లో నామినేట్ చేయబడగా పలు పురస్కారాలు లభించాయి. వాటి వివరాలు క్రింద ఇవ్వబడ్డాయి<ref name="awards">[https://www.imdb.com/title/{{IMDbID}}/awards/?ref_=tt_awd {{Title}} పురస్కారములు]</ref>.
    {%- endif -%}
    {%- if Winner != 'NaN' and Nominee == 'NaN' -%}
    {{Title}} కి పలు పురస్కారాలు వివిధ క్యాటగిరీస్ లో లభించాయి. ఆ వివరాలు క్రింద ఇవ్వబడ్డాయి<ref name="awards">[https://www.imdb.com/title/{{IMDbID}}/awards/?ref_=tt_awd {{Title}} పురస్కారములు]</ref>.
    {%- endif -%}
    {%- if Nominee != 'NaN' and Winner == 'NaN' -%}
    {{Title}} వివిధ క్యాటగిరీస్ లో నామినేట్ చేయబడింది. వాటి వివరాలు క్రింద ఇవ్వబడ్డాయి<ref name="awards">[https://www.imdb.com/title/{{IMDbID}}/awards/?ref_=tt_awd {{Title}} పురస్కారములు]</ref>.
    {%- endif -%}{{'\n'}}
	{%- if Winner != 'NaN' or Nominee != 'NaN'-%}
	<div style="overflow-y: scroll; overflow-x: hidden; max-height : 40em;">
	{| class="wikitable sortable plainrowheaders"
	! scope="col" | పురస్కారము
	! scope="col" | క్యాటగిరి 
	! scope="col" | గ్రహీత(లు)
	! scope="col" | ఫలితము
    {%- if Winner != "NaN" -%}
        {%- for item in Winner -%}
		{% set i = loop.index0 %}
            {% for values in Winner[item] %}
                |-
                |{{item}}{{'\n'}}({{ eWinner[i] }})
                |{{values[0]}}
                |{{values[1]}}
                |{{"{{""win|విన్నర్""}}"}}{{'\n'}}
            {%- endfor -%}
        {%- endfor -%}
    {%- endif -%}
    {%- if Nominee != "NaN" -%}
        {%- for item in Nominee -%}
		{% set i = loop.index0 %}
            {% for values in Nominee[item] %}
                |-
                |{{item}}{{'\n'}}({{ eNominee[i] }})
                |{{values[0]}}
                |{{values[1]}}
                |{{"{{""nom""}}"}}{{'\n'}}
            {%- endfor -%}
        {%- endfor -%}
    {%- endif -%}
	{{'\n'}}|}
	</div>
	{%- endif -%}
{%- endmacro -%}

{%- macro Technical_Details(Duration,sound_mix,colors,distribution_format) -%}
{#{ '\n' ==సాంకేతిక వివరాలు== '\n' }#}
{{ '\n==సాంకేతిక వివరాలు==\n' }}
{%- if Duration!="NaN"-%}
    ఈ చిత్ర పూర్తి వ్యవధి {{Duration}}.{{" "}}
{%-endif-%}
{%-if sound_mix!="NaN"-%}
{%- if ',' in sound_mix -%}
	{%- set line =[
					"ఈ సినిమాకి ఉపయోగించిన  సౌండ్ టెక్నాలజీస్ " +sound_mix+ ". ",
					sound_mix + " సౌండ్ టెక్నాలజీస్ ఈ సినిమాకి  ఉపయోగించారు. "
				]|random
	-%}
	{%- else -%}
	{%- set line =[
					"ఈ సినిమాకి ఉపయోగించిన  సౌండ్ టెక్నాలజీ " +sound_mix+ ". ",
					sound_mix + " సౌండ్ టెక్నాలజీ ఈ సినిమాకి  ఉపయోగించారు. "
				]|random
	-%}
{%-endif-%}
{{ line }}
{%-endif-%}
{%-if colors!="NaN"-%}
  ఈ సినిమా {{colors}} లో చిత్రీకరించబడినది.{{" "}}
{%-endif-%}
{%-if distribution_format !="NaN"-%}
	ఈ చిత్రాన్ని {{distribution_format}} లో కూడా పంపిణీ చేసారు.{{" "}}<ref name="wikidata">[{{wikidata_url}} {{title}} వికీడేటా]</ref>
{%-endif-%}
{%- endmacro -%}

{%- macro critics_response(Votes,Rating) -%}
{{ '\n==రేటింగ్స్ ==\n' }}
ఐ.ఎం.డీ.బి లో {{Votes}} మంది వీక్షకులు వేసిన ఓట్ల ఆధారంగా ఈ చిత్రానికి {{Rating}} రేటింగ్ లభించింది.
{%- endmacro -%}

{%- macro production_boxOffice(production_company,budget,opening_weekend,Gross,cumulative) -%}
{#{ ==నిర్మాణం, బాక్స్ ఆఫీస్== }#}
{{ '\n==నిర్మాణం, బాక్స్ ఆఫీస్==\n' }}
		{%- if production_company!="NaN" and budget!="NaN" -%}
			{%- if ',' in production_company -%}
				{%- set line =[
						production_company + " నిర్మాణ సంస్థలు, " + budget + " బడ్జెట్ తో ఈ చిత్రాన్ని నిర్మించారు. " ,
						budget + " బడ్జెట్ తో ఈ చిత్రాన్ని నిర్మాణ సంస్థలు అయిన " +  production_company + " నిర్మించారు. "
					]|random
				-%}
			{%- else -%}
				{%- set line =[
						production_company + " నిర్మాణ సంస్థ, " + budget + " బడ్జెట్ తో ఈ చిత్రాన్ని నిర్మించారు. " ,
						budget + " బడ్జెట్ తో ఈ చిత్రాన్ని నిర్మాణ సంస్థ అయిన " +  production_company + " నిర్మించారు. "
					]|random
				-%}
			{%- endif -%}
			{{line}}
		{%- elif production_company!="NaN" and budget=="NaN" -%}
			{{production_company}} నిర్మాణ{%- if ',' in production_company -%} {{" "}} సంస్థలు {{" "}}{%- else -%} సంస్థ{{" "}}  {%- endif -%} ఈ చిత్రాన్ని నిర్మించారు.{{" "}}
		{%- elif production_company=="NaN" and budget!="NaN" -%}
			ఈ సినిమాని నిర్మాణ {%- if ',' in production_company -%} {{" "}}సంస్థలు {{" "}}{%- else -%} సంస్థ{{" "}} {%- endif -%}{{budget}} {{" "}}బడ్జెట్ తో నిర్మించారు.{{" "}}
		{%- endif -%}

		{%- if opening_weekend!="NaN" -%}
			ఈ చలన చిత్రం మొదటి వారంలో {{opening_weekend}} డాలర్లు వసూలు చేసింది.{{" "}}
		{%- endif -%}
		
		{%- if Gross!="NaN"-%}
		అమెరికాలో ఈ సినిమా వసూలు చేసిన మొత్తం{{" "}}{{Gross}}.{{" "}}
		{%- endif -%}
		
		{%- if cumulative!="NaN" -%}
		 	ప్రపంచవ్యాప్తంగా ఈ చలన చిత్రం వసూళ్లు{{" "}}{{cumulative}} డాలర్లు.{{" "}}
		{%- endif -%}
{%- endmacro -%}

{%- macro crew(IMDbID,Title,cast,Director, writers, writers_list, producer, producer_list, composer, film_editor, cinematography, casting, production_design, set_decoration, art_design) -%}
{{ '\n==తారాగణం==\n' }} 
		{%- if cast != "NaN" -%}
		{{ '\n===నటీ నటులు, పాత్రలు===\n' }}
ఈ చిత్రంలో నటించిన నటీనటులు, వారి పాత్రలు. <ref name="cast">[https://www.imdb.com/title/{{IMDbID}}/fullcredits?ref_=tt_cl_sm#cast {{Title}} తారాగణం]</ref>
		{{ '\n' }}
		{%- for c in cast -%}
		* {{ c + '\n' }}
		{%- endfor -%}
		{%- endif %}

		{%- if Director != "NaN" or writers!= "NaN" or producer!= "NaN" or composer!= "NaN" or film_editor!= "NaN" or cinematography!= "NaN" or casting!= "NaN" or production_design!= "NaN" or set_decoration!= "NaN" or art_design!= "NaN" -%}	
			{{ '\n===సాంకేతిక సిబ్బంది===\n' }}
			{%- if Director != "NaN" -%}
			* దర్శకత్వం : {{ Director + '\n' }}
			{%- endif %}

			{%- if writers != "NaN" -%}
				{%- if writers_list | length >1 -%}
				* కథా రచయితలు : {{ writers + '\n' }}
				{%- else -%}
				* కథా రచయిత : {{ writers + '\n' }}
				{%- endif %}
			{%- endif %}

			{%- if producer != "NaN" -%}
				{%- if ',' in producer -%}
				* నిర్మాతలు : {{ producer + '\n' }}
				{%- else -%}
				* నిర్మాత : {{ producer + '\n' }}
				{%- endif %}
			{%- endif %}

			{%- if composer != "NaN" -%}
			* సంగీతం : {{ composer + '\n' }}
			{%- endif %}

			{%- if film_editor != "NaN" -%}
			* ఎడిటింగ్ : {{ film_editor + '\n' }}
			{%- endif %}

			{%- if cinematography != "NaN" -%}
			* ఛాయాగ్రహణం : {{ cinematography + '\n' }}
			{%- endif %}

			{%- if casting != "NaN" -%}
			* క్యాస్టింగ్ : {{ casting + '\n' }}
			{%- endif %}

			{%- if production_design != "NaN" -%}
			* నిర్మాణ రూపకల్పన : {{ production_design + '\n' }}
			{%- endif %}

			{%- if set_decoration != "NaN" -%}
			* సెట్ డెకొరేషన్ : {{ set_decoration + '\n' }}
			{%- endif %}

			{%- if art_design != "NaN" -%}
			* ఆర్ట్ డైరెక్టర్  : {{ art_design + '\n' }}
			{%- endif %}

		{%- endif %}
{%- endmacro -%}

{%- macro songs_table(Songs,lensong,songcomma,composer,sound_mix,IMDbID,Title) -%}
		{{ '\n==సంగీతం, పాటలు==\n' }}
		{%- if composer != "NaN" -%}
			{%- set line =[
				"ఈ చిత్రానికి సంగీత దర్శకత్వం " + composer + " అందించారు. ",
				composer + " ఈ సినిమాకి సంగీత దర్శకత్వం అందించారు. "
			]|random
			-%}
			{{- line -}}
		{%- endif %}
		
		{%- if Songs != "NaN" -%}
		{%- if lensong > 1 -%}
			ఈ చిత్రం లో మొత్తం {{ lensong }} పాటలు ఉన్నాయి. ఈ చిత్రములోని పాటల వివరాలు క్రింద ఇవ్వబడ్దాయి.<ref name="song">[https://www.imdb.com/title/{{IMDbID}}/soundtrack?ref_=tt_trv_snd/ {{Title}} సౌండ్ ట్రాక్]</ref>	
		{%- elif songcomma == "False" -%}
			ఈ సినిమాలోని పాటల వివరాలు క్రింద ఇవ్వబడ్దాయి .<ref name="song">[https://www.imdb.com/title/{{IMDbID}}/soundtrack?ref_=tt_trv_snd/ {{Title}} సౌండ్ ట్రాక్]</ref>	
		{%- endif %}
			{{ '\n' }}
			{%- if songcomma == "True"  -%}
				<div style="overflow-y: scroll; overflow-x: hidden; max-height : 40em;">
				{| class="wikitable sortable plainrowheaders"
				|-
				! పాట !! గాయకుడు / గాయని  !! సమయం 
				{% for song in Songs -%}
					|-
					| {{ song[0] }} || {{ song[1] }} || {{ song[2] }}
					{{ '\n' }}
				{%- endfor -%}
				|}
				</div>
			{%- elif songcomma == "False" -%}
				<div style="overflow-y: scroll; overflow-x: hidden; max-height : 40em;">
				{| class="wikitable sortable plainrowheaders"
				|-
				! పాటలు
				{% for song in Songs -%}
					|-
					| {{ song }}
					{{ '\n' }}
				{%- endfor -%}
				|}
				</div>
			{%- endif %}
		{%- endif %}
{%- endmacro -%}

{%- macro other_info(Title,film_locations,trivia,part_of_series,tagline,IMDbID) -%}
{{ '\n==ఇతర విశేషాలు==\n' }}
{%- if film_locations != 'NaN' -%}
	{{Title}} {{film_locations}} {%- if ',' in film_locations -%}{{" "}} ప్రాంతాలలో {{" "}}{%- else -%} {{" "}}ప్రాంతములో {{" "}}{%- endif -%}{{" "}} చిత్రీకరించబడినది.{{" "}} <ref name="title">[https://www.imdb.com/title/%7B%7BIMDbID%7D%7D/?ref_=adv_li_tt {{Title}}]</ref>
{%- endif -%}
{%- if (part_of_series != "NaN") -%}
ఈ చలన చిత్రం {{part_of_series}} సీరీస్ లో భాగం.{{" "}}{{'\n'}}
{%-endif-%}
{%- if (tagline != "NaN") -%}
	{%- set line = [
		"ఈ సినిమా ట్యాగ్‌లైన్ - ''"+'"'+tagline+'"'+"''.\n",
		"ఈ చిత్రంకి ''"+'"'+tagline+'"'+"'' అనే ట్యాగ్‌లైన్ కలదు.\n" 
	]|random
-%}
{{line}}
{%-endif-%}
{%- if (trivia != "NaN") -%}
{{trivia}}{{" "}}
{%-endif-%}
{%- endmacro -%}

{%- macro references_categories(eRated,wikipedia_url,wikidata_url,title,Genre,genre_list,Release_Year,stars,stars_list,Director,director_list,writers,writers_list,languages,languages_list,countries,countries_list,colors,colors_list,editors_list,production_company,production_list,composer,composer_list,cinematography,cine_list)-%}
{#{==మూలాలు==}#} 
{{ '\n==మూలాలు==\n' }}
		{{reflist}}

		{{'\n'}}
		{%- if Genre!="NaN"-%}
		{%- for g in genre_list -%}
		[[Category: {{g}} సినిమాలు  ]] 
        {%- endfor -%}
        {%- endif -%}
        
		{%- if languages!="NaN"-%}
		{%- for l in languages_list -%}
		[[Category: {{l}} సినిమాలు ]]
		{%- endfor -%}
        {%- endif -%}

        {%- if Release_Year!="NaN"-%}
			{%- if languages!="NaN"-%}
			{%- for l in languages_list -%}
				[[Category: {{Release_Year}} {{l}} సినిమాలు ]]
			{%- endfor -%}
			{%- else -%}
				[[Category: {{Release_Year}} సినిమాలు]]
			{%- endif -%}
        {%- endif -%}

        {%- if stars!="NaN"-%}
		{%- for st in stars_list -%}
		[[Category: {{st}} నటించిన సినిమాలు]]
		{%- endfor -%}
        {%- endif -%}

		{%- if eRated != 'NaN' and eRated != 'Unrated' and eRated != 'Not Rated' and eRated != 'Approved' and eRated != 'Passed' -%}
		[[Category: {{eRated}} రేటెడ్ సినిమాలు  ]]
		{%- endif -%}
        
		{%- if Director!="NaN"-%}
		{%- for d in director_list -%}
		[[Category: {{d}} దర్శకత్వం వహించిన సినిమాలు]]
		{%- endfor -%}
        {%- endif -%}

        {%- if writers!="NaN"-%}
		{%- for w in writers_list -%}
		[[Category: {{w}}  రచన అందించిన సినిమాలు ]] 
        {%- endfor -%}
        {%- endif -%}

        {%- if composer!="NaN"-%}
		{%- for com in composer_list -%}
		[[Category: {{com}} సంగీతం అందించిన చిత్రాలు]]
		{%- endfor -%}
        {%- endif -%}

        {%- if cinematography!="NaN"-%}
		{%- for cin in cine_list -%}
		[[Category: {{cin}} చిత్రీకరించిన సినిమాలు ]] 
        {%- endfor -%}
        {%- endif -%}

		{%- if countries!="NaN"-%}
		{%- for c in countries_list -%}
		[[Category: {{c}} సినిమాలు]] 
        {%- endfor -%}
        {%- endif -%}
        
        {%- if production_company!="NaN"-%}
		{%- for p in production_list -%}
		[[Category: {{p}} నిర్మాణం చేసిన సినిమాలు ]] 
        {%- endfor -%}
        {%- endif -%}
        
        {%- if colors!="NaN"-%}
		{%- for col in colors_list -%}
		[[Category: {{col}} సినిమాలు]] 
        {%- endfor -%}
        {%- endif -%}

		[[Category: తెవికీ సినిమాలు]] 

{%-endmacro-%}

{{ Infobox(Title,starslist, wri_list,pro_list,lang_list,comp_list,cinemat_list,fe_list,crty_list, d_list,Director,writers,producer,stars,composer,cinematography,film_editor,Genre,Release_Year,Duration,budget,countries,languages,IMDbID,Gross,based_on,distributed_by,poster,wikipedia_url) -}}

{{ introp1(Title,eTitle, Release_Year, Genre, Director,writers,writers_list,stars,composer,synopsis,based_on,main_subject) -}}

{{ introp2(producer,production_company,budget, eRated,Release_Year, languages, countries,Rated,distributed_by,wikidata_url,Title) -}}

{{- plot(Title,storyline,narrative_location) -}}

{{- crew(IMDbID,Title,cast,Director, writers, writers_list, producer,producer_list, composer, film_editor, cinematography, casting, production_design, set_decoration, art_design) -}}

{{- songs_table(Songs,lensong,songcomma,composer,sound_mix,IMDbID,Title) -}}

{{-Technical_Details(Duration,sound_mix,colors, distribution_format) -}}

{{- production_boxOffice(production_company,budget,opening_weekend,Gross,cumulative) -}}

{{- awards(Winner,Nominee,Title,eWinner,eNominee) -}}

{{- critics_response(Votes, Rating) -}}

{{- other_info(Title, film_locations, trivia,part_of_series,tagline,IMDbID) -}}

{{-references_categories(eRated,wikipedia_url,wikidata_url,title,Genre,genre_list,Release_Year,stars,stars_list,Director,director_list,writers,writers_list,languages,languages_list,countries,countries_list,colors,colors_list,editors_list,production_company,production_list,composer,composer_list,cinematography,cine_list)-}}